@import "../../style.scss";

.posts-container {
    @include themify($themes) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        grid-auto-rows: 1fr;
        gap: 5px;
        row-gap: 3px;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: themed("bg");
    }
}
